*,
::after,
::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: darkgray;
}

section:hover {
    animation: infinite;
}

body {
    background-color: dimgrey;
}
.Home{
    text-align: center;
}